*{
    margin: 0;
  }
  .App{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    min-height: 50vh;
  }
